@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

body {
    background: #e0e0e0;   
}

header {
    width: 100%;
    height: auto;
    position: relative;
}

header h1 {
    text-align: center;
}

header .head {
    width: 50%;
    height: 80px;
    margin: auto;
    position: relative;
    padding: 15px;

    background: #b7b8b6;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-radius: 10px;
}

header .head input {
    width: 100%;
    height: 50px;
    float: left;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px; /* instead of padding this doesn't break on overflow */
    padding: 0 60px 0 0; /* acommadate for button */
    background: #cacaca;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    border: 0px;
} 

header .head input::-webkit-input-placeholder {
    color: rbga(255, 255, 255, 0.75);
}

header .head input:-moz-input-placeholder {
    color: rbga(255, 255, 255, 0.75);
}

header .head input:-ms-input-placeholder {
    color: rbga(255, 255, 255, 0.75);
}

header .head button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px; /* acommadate padding */
    right: 15px; /* acommadate padding */
    z-index: 2;
    
    background: #cacaca;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.fa-plus {
    color: #000000;
    font-size: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100%;
}

.column h2 {
    font-weight: 400;
    color: #000000;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: flex;
    flex-direction: column;
    clear: both;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    line-height: 22px; /* this means changing the padding, accomdate the padding */
    list-style-type: none;

    background: #ffffff;
    position: relative; /* parent of absolute needs to be relative */
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);   
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px; /* break when it hits the button */ 
}

ul.todo#incompleted li {
    box-shadow: 1px 2px 3px rgba(251, 101, 66, 1);   
}

ul.todo#progressing li {
    box-shadow: 1px 2px 3px rgba(255, 187, 0, 1);   
}

ul.todo#completed li {
    box-shadow: 1px 2px 3px rgba(63, 104, 28, 1);   
}

ul.todo#history li {
    box-shadow: 1px 2px 3px rgb(2, 226, 255, 1);   
}

ul.todo li:last-of-type { /* instead of last child because if you have any other list items in another class you actually want the last of li */
    margin: 0;
}

ul.todo li .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    position: relative; /* parent of absolute needs to be relative */
    /* reset */
    background: none;
    border: 0px;
    box-shadow: none;
}

ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    background: #bbbbbb;
    top: 10px;
    left: 0px;
    box-shadow: none;
}

.fa-times,
.fa-arrow-right {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}

ul.todo#incompleted li .fa-arrow-right:hover {
    color: rgba(251, 101, 66, 1);
}

ul.todo#progressing li .fa-arrow-right:hover {
    color: rgba(255, 187, 0, 1);
}

ul.todo#completed li .fa-arrow-right:hover {
    color: rgba(63, 104, 28, 1);
}

.fa-times:hover {
    color: rgb(255, 0, 0);
} 

ul.todo#incompleted:empty:after {
    content: 'You have nothing todo.';
}

ul.todo#progressing:empty:after {
    content: 'You have nothing in progress.';
}

ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks.';
}

ul.todo#incompleted:after, /* don't really have to add :empty here before it won't be applied when empty */
ul.todo#progressing:after,
ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.87);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 25%;
    margin: 0 33.3% 0;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

span {
    font-size: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
}